@import "~bootstrap/scss/bootstrap.scss";

:host {
    @extend .col-md-4, .offset-md-4;
    display: block;
}

.category-list-item {
    @extend .input-group, .mb-3;
    &:first-child {
      margin-bottom: 0;
    }
    margin-bottom: 1em;
    padding: 0.5em 0;
    border: 1px solid #efefef;
    border-radius: 15px;
    &-input {
      @extend .form-control;
      padding: 0.3em 1em;
      border: none;
      width: 80%;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
    &-controls {
      @extend .input-group-append;
      button {
        @extend .btn, .btn-sm, .btn-link;
        &:hover {
          text-decoration: none;
          cursor: pointer;
        }
      }
      &-add {
        span {
          &:before {
            color: green;
            content: "\f067";
            font-family: FontAwesome;
          }
        }
      }
      &-remove {
        span {
          &:before {
            color: red;
            content: "\f1f8";
            font-family: FontAwesome;
          }
        }
      }
    }
  }