<div class="category-list-item">
		<input [value]="category.title" [formControl]="categoryControl" type="text" class="category-list-item-input">
		<div class="category-list-item-controls">
			<button (click)="onRemove()" class="category-list-item-controls-remove">
				<span></span>
			</button>
		</div>
</div>