<div class="login-form__container">
  <form #form="ngForm" [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">

    <div class="login-form__input-group">
      <label for="username" class="login-form__input-group__label">Username</label>
      <input formControlName="username" name="username" id="username" type="text" class="login-form__input-group__input">
      <error-messages *ngIf="form.submitted" [errors]="loginForm.controls.username.errors"></error-messages>
    </div>

    <div class="login-form__input-group">
      <label for="password" class="login-form__input-group__label">Password</label>
      <input formControlName="password" id="password" type="password" class="login-form__input-group__input">
      <error-messages *ngIf="form.submitted" [errors]="loginForm.controls.password.errors"></error-messages>
    </div>

    <button type="submit" class="login-form__button login-form__button-primary">Log in</button>
    <a [routerLink]="['/auth/signup']" role="button" class="login-form__button login-form__button-secondary">Sign up</a>

  </form>
</div>
