@import "~bootstrap/scss/bootstrap.scss";

$defaultColor: #efefef;
$radiusValue: 15px;

.note {
  padding: 1em;
  &__category {
    display: inline-block;
    background-color: $defaultColor;
    border-top-left-radius: $radiusValue;
    border-top-right-radius: $radiusValue;
    &__dropdown-triggerrer {
      @extend .btn;
      transition: none;
      background-color: $defaultColor;
      outline: none !important;
      box-shadow: none !important;
    }
    &__dropdown-item {
      @extend .dropdown-item;
      &:hover {
        background-color: $defaultColor;
        cursor: pointer;
        outline: none !important;
        box-shadow: none !important;
      }
    }
  }
  &__controls {
    @extend .clearfix;
    width: 100%;
    background-color: $defaultColor;
    border-top-right-radius: $radiusValue;
    z-index: 1;
    display: flex;
    align-content: center;
    padding:0.3em 1em;
    &__color-picker {
    }
    &__button {
      @extend .btn, .btn-sm, .btn-link;
      margin-left:auto;
      &-remove {
        i {
          &:before {
            color: red;
            content: "\f1f8";
            font-family: FontAwesome;
          }
        }
      }
    }
  }
  &__content {
    width: 100%;
    border: none;
    background-color: $defaultColor;
    font-size: 2em;
    resize: none;
    outline: none;
    border-bottom-left-radius: $radiusValue;
    border-bottom-right-radius: $radiusValue;
    z-index: 2;
  }

  &__category,
  &__content {
    padding: 0.3em 0.5em;
  }

  &__controls,
  &__content {
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  }
}
