<div class="note">

	<div class="note__category"
	     [style.background-color]="note.color"
	     ngbDropdown>
		<button class="note__category__dropdown-triggerrer"
		        [style.background-color]="note.color"
		        id="categoryDropdown"
		        ngbDropdownToggle>{{note.category.title}}</button>
		<div ngbDropdownMenu
		     aria-labelledby="categoryDropdown">
			<button (click)="onCategoryUpdate(category.id)"
			        class="note__category__dropdown-item"
			        *ngFor="let category of availableCategories">
				{{category.title}}
			</button>
		</div>
	</div>
	
	<div class="note__controls"
	     [style.background-color]="note.color">

		<div class="note__colors-color-picker">
			<app-color-picker [selectedColor]="note.color"
			                  (colorSelect)="onColorUpdate($event)"></app-color-picker>
		</div>

		<button (click)="removeNote()"
		        class="note__controls__button note__controls__button-remove">
					<i class="fa"></i>	
    				</button>

	</div>

	<textarea class="note__content"
	          [style.background-color]="note.color"
		  [(ngModel)]="note.content"
		  (ngModelChange)="onContentUpdate()"
		  appAutoHeight></textarea>
</div>
