<div class="color-picker">
	<div *ngFor="let color of availableColors"
	     (click)="selectColor(color)"
	     class="color-picker__color"
	     [class.color-picker__color-selected]="color === selectedColor"
	     [style.background-color]="color"></div>
</div>
