@import "~bootstrap/scss/bootstrap.scss";

$length: 20px;
$colorSelected: #292929;

:host {
  display: block;
  padding: 1em;
}

.color-picker {
  @extend .row;
  &__color {
    @extend .col;
    height: $length;
    &:hover {
      cursor: pointer;
    }
    &-selected {
      border: 1px solid $colorSelected;
    }
  }
}
