<app-categories-list-item *ngFor="let category of categories; let i = index" [category]="category" (update)="update($event, category.id)"
    (remove)="remove(category.id)">
</app-categories-list-item>

<app-categories-list-item-new (add)="add($event)"></app-categories-list-item-new>