@import "~bootstrap/scss/bootstrap.scss";

:host {
  @extend .row;
  display: block;
}

$navbarColor: rgba(240, 240, 240, 0.835);
$navItemColor: rgb(36, 36, 36);

.nav-bar {
  @extend .navbar, .navbar-expand-lg;
  background-color: $navbarColor;
  &__brand-icon {
    @extend .navbar-brand;
  }
  &__button {
    @extend .navbar-toggler;
  }
  &__list-container {
    @extend .collapse, .navbar-collapse;
    &__list {
      @extend .navbar-nav;
      &__item {
        color: $navItemColor;
        @extend .nav-item, .nav-link;
      }
    }
  }
}
