<nav class="nav-bar">
  <a class="nav-bar__brand-icon" href="#">Ng2Notes</a>
  <button (click)="toggleCollapse()" class="nav-bar__button" type="button" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarNav">
    <span class="fa fa-bars"></span>
  </button>
  <div class="nav-bar__list-container" [ngbCollapse]="isCollapsed" id="navbarNav">
    <div class="nav-bar__list-container__list">
      <a class="nav-bar__list-container__list__item" [routerLink]="['/notes']">Notes</a>
      <a class="nav-bar__list-container__list__item" [routerLink]="['/categories']">Categories</a>
    </div>
  </div>
</nav>
