@import "~bootstrap/scss/bootstrap.scss";

:host {
    margin-top: 20vh;
    display: block;
    @extend .container;
}

.signup-form {
    &__container {
        @extend .row;
    }

    display: block;
    @extend .col-md-4, .offset-md-4;

        
    &__input-group {
        @extend .form-group;

        &__label {

        }
        &__input {
            @extend .form-control;
        }
    }

    &__button {
        @extend .btn;

        &-primary {
            @extend .btn-primary;
        }

        &-secondary {
            @extend .btn-secondary
        }
    }
}