<div class="signup-form__container">
  <form #form="ngForm" [formGroup]="signupForm" (ngSubmit)="signUp()" class="signup-form">

    <div class="signup-form__input-group">
      <label for="username" class="signup-form__input-group__label">Username</label>
      <input formControlName="username" name="username" id="username" type="text" class="signup-form__input-group__input">
      <error-messages *ngIf="form.submitted" [errors]="signupForm.controls.username.errors"></error-messages>
    </div>

    <div class="signup-form__input-group">
      <label for="email" class="signup-form__input-group__label">Email</label>
      <input formControlName="email" name="email" id="email" type="email" class="signup-form__input-group__input">
      <error-messages *ngIf="form.submitted" [errors]="signupForm.controls.email.errors"></error-messages>
    </div>

    <div class="signup-form__input-group">
      <label for="password" class="signup-form__input-group__label">Password</label>
      <input formControlName="password" id="password" type="password" class="signup-form__input-group__input">
      <error-messages *ngIf="form.submitted" [errors]="signupForm.controls.password.errors"></error-messages>
    </div>

    <div class="signup-form__input-group">
      <label for="passwordConfirm" class="signup-form__input-group__label">Confirm password</label>
      <input formControlName="passwordConfirm" id="passwordConfirm" type="password" class="signup-form__input-group__input">
      <error-messages *ngIf="form.submitted" [errors]="signupForm.controls.passwordConfirm.errors"></error-messages>
    </div>

    <button type="submit" class="signup-form__button signup-form__button-primary">Submit</button>
    <a [routerLink]="['/auth/login']" role="button" class="signup-form__button signup-form__button-secondary">Back to login</a>

  </form>
</div>

<span *ngIf="signedUp">We've sent you an email, to activate your account.</span>
