<div class="category-list-item">
    <input [(ngModel)]="categoryTitle" type="text" placeholder="Add a new category" class="category-list-item-input">
    <div class="category-list-item-controls">
      <button (click)="onCategoryAdd(categoryTitle)" [disabled]="!categoryTitle" class="category-list-item-controls-add">
        <span></span>
      </button>
    </div>
</div>