<app-add-note [availableCategories]="categories" (add)="addNote($event)"></app-add-note>

<div class="row">
	<div class="col-md-4" *ngFor="let note of notes; let i = $index">
		<app-single-note [note]="note" [availableCategories]="categories"
		 (remove)="removeNote(note.id)" 
		 (updateCategory)="updateCategory($event, note.id)"
		 (updateContent)="updateContent($event, note.id)"
		 (updateColor)="updateColor($event, note.id)"></app-single-note>
	</div>
</div>