<form #addNoteForm="ngForm"
      (ngSubmit)="addNote(addNoteForm.form)"
	  novalidate
	  [style.background-color]="color"
      class="new-note">
	<textarea [(ngModel)]="content"
	          name="content"
	          type="text"
	          class="new-note__content"
	          placeholder="Fill your note"
	          required></textarea>
	<select [(ngModel)]="category"
	        name="category"
	        class="new-note__category-selector"
	        required>
		<option value="">Select Category</option>
		<option *ngFor="let category of availableCategories" [value]="category.id">{{category.title}}</option>
	</select>

	<app-color-picker (colorSelect)="setColor($event)"
	                  [selectedColor]="color"></app-color-picker>

	<button class="new-note__button"
	        [disabled]="addNoteForm.invalid">Add note</button>
</form>
