@import "~bootstrap/scss/bootstrap.scss";

$defaultBgColor: #efefef;

:host {
  margin: 1em 0;
  @extend .row;
}

.new-note {
  @extend .col-sm-12, .col-md-4, .offset-md-4;
  padding: 1em;
  border: 1px solid darken($defaultBgColor, 20);
  border-radius: 0.5em;

  &__content {
    padding: 1em;
    width: 100%;
  }

  &__category-selector {
      margin-top:1em;
  }

  &__button {
    margin-top:1em;
    @extend .float-right, .btn, .btn-primary;
  }

  &__content,
  &__category-selector {
    @extend .form-control;
  }
}
