<div *ngIf="activated;else tokenInvalid">You've been successfully activated. <a [routerLink]="['/auth/login']">Go to login</a></div>

<ng-template #tokenInvalid>
  Your activation token was expired.
</ng-template>