<!-- <div *ngFor="let error of objectKeys(errors)">{{error | json}}</div> -->
<div *ngIf="errors?.required">This field is required</div>
<div *ngIf="errors?.minlength">This field has to be at least {{errors.minlength.requiredLength}} characters long</div>
<div *ngIf="errors?.email">This field has to be an email</div>
<div *ngIf="errors?.notMatched">This field doesn't match to {{errors.matchTo}}</div>